body {
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}

.footer {
    text-align: center;
}

p, a, h1, h2, h3, h4, h5, h6, span {
    font-family: 'Roboto', sans-serif;
}
